<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <title>Share</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body ontouchstart>
    <div class="wrapper">
        <div class="menu">
            <a class="menu-title" href="/">Share</a>
        </div>
        <!------------header ending------------>

        <br /><br />
        <form class="form-card" action="/file" method="post" enctype="multipart/form-data">
            <span id="errorSpan" class="error"></span>
            <br /><br />
            <label class="button">点击选择文件<input class="file" id="file" type="file" name="file[]" multiple></label>
            <label class="button">上传<input style="display:none" type="submit" name="submit" value="upload"></label>
        </form>

        <br />
        <div>
            <table id="infoTable" class="table"></table>
        </div>

        <!------------footer beginning------------>
        <br />
        <div class="push"></div>
    </div>
    <footer class="footer">
        Copyright &copy; 2017 <a href="https:///whoisnian.com">nian</a>
        All Rights Reserved
    </footer>
    <script src="/static/view.js"></script>
</body>

</html>